/* Modifié le 10/09/2025 */

.purplewhite-text {
  color: #ffffff;
  background-color: #6859A1; /*#423089*/
}

.purple-text {
  color: #423089;
}

/* Change the color of the folded code chunk title */
details>summary {
  font-weight: bold;
}

/* Add a dot after the title of theorems and exercises */
.theorem-title, .exercise-title {
  display: inline-block;
}

.theorem-title::after, .exercise-title::after {
  content: ".";
}

/* taille du code des chunks */
.small-code{
  font-size: 85%  
}

.tiny-code{
  font-size: 70%  
}

.small-table table {
  font-size: 0.8em !important;
}
